.contact {
    height: fit-content;
    font-size: 16px;
    display: flex;
    padding: 5px;
    position: relative;
    justify-content: space-around;
    color: #223636;
    font-weight: bold;
}

.contact-photo {
    width: 10%;
    background: url("../../assets/user.png") no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.contact-data {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.contact-data p {
    margin: 3px;
}

.contact-gender {
    position: absolute;
    right: 25px;
    top: 10%;
}